---
layout: default
---

<div class="home">
  <h1>New Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
    <li>
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="post-block" onclick="document.location.href='{{ post.url }}'">
	  {% if post.image %}
	<div class="post-image"><img src="{{ site.url }}{{ post.image }}" /></div>
	  {% endif %}
          <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
          <div class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
        </div></div>
    </li>
    {% endfor %}
  </ul>

</div>
